#auto {
  background-color: white;
  min-height: 78.5vh;
}

.autoContainer{
  background-color: gainsboro;
  padding-bottom: 30px;
}

.auto{
  display: flex;
  flex-direction: row;
}

.marg{
  background-color: white;
  margin-top: 30px;
}

.autoText{
  min-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
