<section id="header">
  <!-- header start -->

  <div class="logo">
    <h1><img src="../assets/img/mainNavbar.png">Rental cars</h1>
  </div>
  <div class="routeLine">
    <div class="route">
      <span routerLink="">Home</span>
      <span routerLink="fleet">Car fleet</span>
      <span routerLink="car">Car</span>
      <span routerLink="company">Company Car</span>
    </div>
  </div>
</section>
<!-- header end -->

<section id="bodyApp">
  <!-- bodyApp start -->
<app-company-car></app-company-car>
  <router-outlet></router-outlet>
</section>
<!-- bodyApp end -->

<footer id="down">
  <!-- footer start -->

  <div class="down_container">
    <div class="down_p">
      <p>Copyright 2019 Eleimak All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- footer end -->
